.main__content {
    display: grid;
}

.eventcontainer {
    margin-bottom: 50px;
}

.eventcontainer img {
    height: 150px;
    width: 90%;
    object-fit: cover;
}

.eventdate {
    font-style: italic;
    font-weight: bold;
}

.main_pastevents {
    display: flex;
    flex-direction: column-reverse;
}

.seat_modal {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.8);
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1;
}

form {
    padding: 70px 30px 30px 30px;
    background-color: black;
    color: white;
    text-align: -webkit-center;
    border-radius: 15px;
}

form div {
    margin-bottom: 10px;
    text-align: left;
}
input,
select {
    border-radius: 5px;
}

input {
    width: 250px;
}
label {
    margin-right: 10px;
}

form .cta {
    margin-top: 20px;
    padding: 10px 30px;
    width: 160px;
}

.grey {
    filter: grayscale();
}

.reservation_confirmed {
    font-style: italic;
    color: limegreen;
    margin-top: 30px;
}

.reservation_text_wrapper {
    display: flex;
    align-items: center;
    margin-top: 20px;
    place-content: center;
    height: 20px;
}

.wrapper {
    display: flow-root;
    justify-content: space-between;
}
.wrapper button {
    width: 170px;
    /* padding: 10px; */
    display: flex;
    height: fit-content;
    align-self: end;
    padding: 10px 10px;
    place-content: center;
    margin-bottom: 1em;
}

.cta.disabled {
    background-color: grey;
    cursor: default;
    border-color: grey;
}

.requirement {
    font-size: 0.8em;
    float: right;
    color: var(--color-nav);
}

.eventcontent {
    display: flow-root;
}
